@charset "UTF-8";
/* CSS Document */

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	min-width: 15em;
	font-family: 'Armata', sans-serif;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	margin: 0 auto;
}

img {
	width: 100%;
	display: block;
}

.nav {
	width: 100%;
}

.menuicon {
	width: 10%;
	margin-left:83%;
	margin-top: 7%;
}


.navlogo {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	margin-bottom: 30%;
}

.portfolio {
	background-color: orange;
	width: 100%;
	position: relative;
}

.rollover p {
	color: white;
	display: block;
	padding-top: 4em;
	padding-left: 3em;
	padding-right: 3em;
}

.rollover {
	background: #cb3227;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.rollover:hover {
	opacity: 1;
}

@media only screen and (min-width: 350px) {

html {
}

}
