@charset "UTF-8";
/* CSS Document */

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	min-width: 15em;
	font-family: 'Armata', sans-serif;
	font-family: 'Montserrat', sans-serif;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
	list-style: none;
	padding-left: 0;
}

li{
	text-decoration: none;
}

a, a:visited, a:active, a:hover {
	text-decoration: none;
	color: inherit;
}


body {
	margin: 0 auto;
}

img {
	width: 100%;
	display: block;
}

.nav {
	width: 100%;
}

.navbar {
	display: block;
	text-align: center;
	margin-bottom: 3em;
	margin-top: 2.6em;
}

.navbar li {
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
	text-transform: uppercase;
}

.menuicon {
	width: 8%;
	margin-left:85%;
	margin-top: 7%;
}


.navlogo {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 27%;
	margin-bottom: 10%;
}

.full-portfolio {
	display: none;
}

.portfolio {
	background-color: orange;
	width: 100%;
	position: relative;
}

.rollover p {
	color: white;
	display: block;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 75%;
	font-family: 'Armata', sans-serif;
}

.rollover {
	background: #cb3227;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.rollover:hover {
	opacity: 1;
}

footer {
	background-color: #333;
}

h3 {
	margin: 0;
	color: #666;
}

.top-arrow {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;

	border-bottom: 8px solid #fff;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2em;
}

.back-to-top a {
	text-align: center;
	margin: .5em;
	margin-bottom: 2em;
	display: block;
	font-size: .77em;
	text-transform: uppercase;
	color: #fff;
}


.footer-content {
	padding: 2em;
	padding-top: 1em;
}

.footer-nav li {
	font-size: .8em;
	padding-bottom: .4em;
	font-family: 'Armata', sans-serif;
}

.footer-nav ul {
	margin-top: .6em;
	margin-bottom: 2.4em;
	color: #666;
}

footer p {
	font-size: .8em;
	color: #666;
	font-family: 'Armata', sans-serif;
}

@media only screen and (min-width: 23em) {

.navlogo {
	width: 71%;
}

.rollover p {
	color: white;
	display: block;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 70%;
}

}

@media only screen and (min-width: 25em) {

.rollover p {
	color: white;
	display: block;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 65%;
}

}

@media only screen and (min-width: 27em) {

body {
	background-color: green;
}

.navlogo {
	width: 35%;
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: .9em;
	display: inline-block;
	float: left;
}

.rollover {
	display: none;
}

.portfolio {
	display: none;
}

.full-portfolio {
	display: block;
}

.navbar {
	display: inline-block;
	text-align: right;
	margin-bottom: 1em;
	margin-top: 1.7em;
	margin-right: 1.2em;
	float: right;
}

.navbar li {
	display: inline-block;
	padding-left: .5em;
	padding-right: .5em;
	text-transform: uppercase;
	font-size: .8em;
}

}
